
html{
  height: 100%;
  font-family: 'Carter One', cursive;
}
body {
  margin: 0;
  font-family: 'Carter One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height: 100%;
}
